
* {
    margin: 0;
    padding: 0;
    background-color: azure;
}

.container {
    width: 85%;
    height: 7.5rem;
    padding-top: 2.5rem
}

.navbar {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logo {
    height: 2.3rem;
    margin-left: 100px; 
}

.logo a {
    text-decoration: none;
    font-size: 1.7rem;
    color: rgb(94, 94, 247);
}

.nav_link {
    display: flex;
}

.nav_link li {
    list-style: none;
    margin: 0 1.5rem;
}

li a {
    font-size: 1.5rem;
    text-decoration: none;
    padding-bottom: 2rem;
    position: relative;
    color: black;
}

li a :hover {
    color: rgb(4, 255, 255);
}



/************************************************** fin navbar ******************************************************/



.welcome {
    display: flex; 
}

.action {
    width: 60%;
    align-items: center;
    padding-left: 100px;
    margin-top: 100px;
}

.image {
    width: 40%;
}
    

.image img {
    width: 27rem;
    height: 27rem;
    border-radius: 50%;
    float: right;
    margin-right : 150pX;
    margin-top: 0%;
}


.gomycode-logo {
    padding-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.experience {
    width: 85%;
    max-width: 120rem;
    margin: 30px 0;
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.container-left {
    width: 30%;
    align-items: center;
}

.plus-deux {
    font-size: 15rem;
    color: rgb(94, 94, 247);
}

.container-rigth {
    width: 70%;
}

.boite-title {
    font-size: 30px;
}

.boite {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.skils {
    width: 30%;
    border: 1px solid;
    height: 280px;
    border-radius: 5px;

}


.more {
    display: flex;
}

.more-box{
    width: 50%;
}

.Mes-travaux {
    margin: 30px 100px;
}

.image-travaux {
    display: flex;
    justify-content: space-between;
}

.item {
    padding: 20px;
    width: 31%;
    height: 300px;
    overflow: hidden;
}




.diplome {
    display: flex;
}

.diplome-img {

    width: 50%;
}

.diplome-img img{
    width: 90%;
    margin-left: 3rem;
}


.diplome-test {
    width: 50%;
}

.winner {
    padding-right: 3rem;
}

.google-play {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;

}

.google-play img {
    padding-top: 1rem;
    width: 30%;
}




.container-temoin {
    display: flex; 
    padding: 3rem;
    border: 1px solid red; 
    justify-content: space-between;
}

.temoin {
    width: 28%;
    height: 280px;
    border-radius: 5px;
    margin-left: 2rem;
    border: solid 1px red;
    box-shadow: 15px 15px 15px 15px rgb(27, 26, 26);
}




.footer {
    margin: 50px 0;
    display: flex;
}











